@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);
}

img{
    border-radius: 100px;
    max-width: 6rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

h2{
    color: hsl(0, 0%, 100%);
    margin-left: 120px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#location{
    color: hsl(75, 94%, 57%);
    margin-left: 125px;
    font-weight: bold;
}

#bio{
    color: hsl(0, 0%, 100%);
    margin-left: 72px;
    margin-top: 2rem;
}

.card{
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    margin-top: 10rem;
    height: 620px;
}

button{
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    border: none;
    display: block;
    width: 320px;
    margin: auto;
    margin-bottom: 18px;
    height: 45px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

button:hover{
    background-color: hsl(0, 0%, 12%);
    cursor: pointer;
}

p{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}